@model TabelaLigi.Db.Models.Team

<dl class="row">
    <div class="row">
        <dt class="col-sm-4">Id</dt>
        <dd class="col-sm">@Model.Id</dd>
    </div>
    <div class="row">
        <dt class="col-sm-4">Nazwa</dt>
        <dd class="col-sm">@Model.Name</dd>
    </div>
</dl>